body {
    font-family: Arial, sans-serif;
    color: #292f33;
    background-color: #e6ecf0;
}

.ProfileCanopy {
    margin-bottom: 60px!important;
}

.tweetEntry-tweetHolder {
    border-left: 1px solid #e1e8ed;
    border-right: 1px solid #e1e8ed;
    border-top: 1px solid #e1e8ed;
    width: 588px;
    margin: auto;
}

.tweetEntry-tweetHolder:hover {
    background-color: #f5f8fa;
}

.tweetEntry-tweetHolder {
    background-color: #ffffff;
}

.tweetEntry-action-list {
    display: block;
    line-height: 18px;
    margin-left: 58px;
    margin-top: 10px;
    color: #292f33;
}

.comment:hover {
    color: #1DA1F2;
}

.comment:hover .fa-comment {
    color: #1DA1F2;
}

.fa-retweet:hover {
    color: #5cd65c;
}

.retweet:hover .fa-retweet {
    color: #5cd65c;
}

.fa-heart:hover {
    color: #ff3333;
}

.heart:hover .fa-heart {
    color: #ff3333;
}

.fa-envelope:hover {
    color: #1DA1F2;
}

.fa-chevron-down:hover {
    color: #1DA1F2;
}

.fa-chevron-down {
    float: right;
    margin-top: -18px;
    margin-right: 20px;
}

.fa-caret-down {
    float: right;
    margin-top: -20px;
}

.fa-caret-down:hover {
    color: #1DA1F2;
}

.tweetEntry-pointers:hover {
    color: #1DA1F2;
}

.tweetEntry {
    border-bottom: 1px solid #e1e8ed;
    cursor: pointer;
    min-height: 51px;
    padding: 9px 12px;
}

.tweetEntry-content {
    display: block;
    font-size: 14px;
    margin-left: 58px;
    font-size: 14px;
}

.tweetEntry-account-group {
    color: #8899a6;
    padding: 0px;
    text-decoration: none;
    line-height: 20px;
}

.tweetEntry-avatar {
    float: left;
    height: 48px;
    width: 48px;
    margin-left: -58px;
    border-radius: 50%;
}

.tweetEntry-fullname {
    font-weight: bold;
    font-size: 14px;
    color: #292f33;
    padding: 0px;
}

.tweetEntry-fullname:hover {
    color: #1DA1F2;
    text-decoration: underline;
}

.tweetEntry-username {
    font-weight: normal;
    font-size: 14px;
    color: #657786;
    padding: 0px;
}

.tweetEntry-timestamp {
    font-size: 14px;
    color: #657786;
    padding: 0px;
}

.tweetEntry-timestamp::before {
    content: "\00b7";
}

.tweetEntry-text-container {
    word-wrap: break-word;
    font-size: 14px;
    color: #292f33;
    line-height: 18px;
}

.action-num {
    color: #657786;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
}